<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>

  
  Hello <#= FirstName #> <#= LastName #>!
Items:
<# for (int i = 1; i <= 10; i++){ #>
Item <#= i #> 
<# } #>